.wrapper {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: pink;
}

.container {
  max-width: 450px;
  width: 90%;
  padding: 2em;
  box-shadow: 0 0 10px lightgray;
  background-color: whitesmoke;
  border-radius: 10px;
}

.title {
  margin: 0;
  margin-bottom: 0.5em;
  font-weight: 300;
}
