.title {
  text-align: center;
}

.drink {
  display: flex;
  max-width: 1170px;
  width: 90%;
  margin: auto;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
}

.drink__image {
  object-fit: cover;
}

.drink__data {
  font-weight: 600;
  text-transform: uppercase;
  background-color: lightblue;
  padding: 0.25em 0.5em;
  border-radius: 5px;
  margin-right: 0.5em;
  line-height: 1.6;
}

@media (min-width: 1000px) {
  .drink {
    flex-direction: row;
    gap: 2em;
  }

  .drink__image {
    width: 40%;
  }

  .drink__image {
    width: 60%;
  }

  .title {
    font-size: 3rem;
  }
}
