.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.hamburgerBtn {
  position: absolute;
  top: 32px;
  left: 32px;
  border: none;
  background-color: transparent;
}
