.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}

.itemImage {
  height: 80px;
}

.itemInfo {
  display: flex;
  align-items: center;
}
