.container {
  padding: 1em;
  border: 2px solid pink;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 0 0 10px lightgray;
}

.container:last-child {
  margin-bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  margin: 0;
}

.showBtn {
  border-radius: 50%;
  background-color: pink;
  padding: 0.5em;
}

.body {
  line-height: 1.6;
  margin-top: 1em;
}
