.container {
  padding: 1em;
  border: 2px solid pink;
  margin-bottom: 1em;
  border-radius: 5px;
  box-shadow: 0 0 10px lightgray;
}

.container:last-child {
  margin-bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.question {
  margin: 0;
  font-size: 0.75rem;
}

.showBtn {
  border-radius: 100px;
  background-color: pink;
  height: 32px;
  width: 32px;
}

.body {
  line-height: 1.6;
  margin-top: 1em;
  font-size: 0.75rem;
}

@media (min-width: 800px) {
  .question,
  .body {
    font-size: 1rem;
  }
}
