.card {
  margin: 2em 0;
  background-color: whitesmoke;
  border-radius: 10px;
}

.cardContent {
  padding: 2em;
}

.cardImage {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.cardHeader {
}

.cardHeaderTitle {
  font-weight: 600;
}

.blurb {
  display: inline;
}

.readMoreBtn {
  color: lightblue;
  background-color: transparent;
  border: none;
}

.notInterestedBtn {
  color: red;
  background-color: transparent;
  border: 1px solid red;
  border-radius: 5px;
  margin: 0.5em auto;
  padding: 0.25em 1em;
}
